/* ===========================================================================

    Table of Contents

    1. Global Styles
        1.0 - General
        1.1 - CSS Reset
    2. Header
        2.0 - Navigation Bar
        2.1 - Banner
    3. Main Section
        3.0 - Icons
        3.1 - H3 Text
        3.2 - Paragraph Text
        3.3 - Image Showcase
        3.4 - Testimonials

=========================================================================== */

/* ===========================================================================
    1. Global Styles
=========================================================================== */

/* ===== 1.0 - General ==================================================== */

* {
    box-sizing: border-box;
}

/* ===== 1.1 - CSS Reset ================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Work Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===========================================================================
    2. Header
=========================================================================== */

/* ===== 2.0 - Navigation Bar ============================================= */

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-align: center;
    background-color: #252525;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2),
                0 4px 10px 0 rgba(0,0,0,0.2);
}

nav ul {
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    padding: 24px 0;
}

nav ul li a {
    display: block;
    margin-left: 24px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .15rem;
    line-height: 2;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
}

nav .logo {
    display: block;
    position: fixed;
    float: left;
    margin-top: 3px;
}

nav .logo img {
    width: 95px;
    z-index: -1;
}

/* ===== 2.1 - Navigation Bar Hover Effects ================================ */

nav ul li a:hover {
    color: rgb(136, 195, 69);
    text-decoration: none;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(136, 195, 69);
    transform-origin: center;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .3s;
}

nav ul li a:hover:before {
    transform-origin: center;
    transform: scaleX(1);
}

/* ===== 2.2 - Slide Images ================================================= */

.carousel1 {
    position: relative;
    height: 35rem;
    margin-top: 4.6rem;
    color: white;
    z-index: -2;
}

/*
.carousel-item img:before {
    content: '';
    background: rgba(0, 0, 0, 0.712);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
*/

.carousel-caption {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 54px;
    transform: translateY(-50%);
}

.carousel-caption h6 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .03rem;
}

.carousel-caption h2 {
    font-size: 108px;
    letter-spacing: .03em;
    line-height: 1;
    margin: 16px 0;
    font-family: 'Courgette', cursive;
}

.txtwel{
    color: lightblue;
    font-family:"work Sans", sans-serif;
    letter-spacing:5px;
    margin-top: 5rem;
    }

    .txt{
        color: black;
    }

    .form{
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 5%;

    }
